## Ejercicios pandas

#### Ejercicio EVO

Dado el siguiente código:

In [4]:
import requests
import time
from datetime import timedelta, date
import pandas as pd

url_evo  = "https://api.evobanco.com:8443/evobanco/foreign/exchange/v1/rates"

def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)


start_date = date(2020, 1, 1)
end_date = date(2020, 1, 2)

res = []
fecha = []
for date in daterange(start_date, end_date):

    date_str = date.strftime("%Y-%m-%d")
    print(date_str)

    payload = {"cardType": "MC",
               "amount": 1,
               "sourceCurrencyCode": 'USD',
               "fxDate": date_str}

    r_evo = requests.post(url_evo, json=payload)

    if r_evo.status_code == requests.codes.ok:
        d = r_evo.json()
        res.append(d['rate'])
        fecha.append(d['date'])

    time.sleep(1)

1. Crear un objeto de tipo Serie que contenga la tasa de conversión como los valores y la fecha como índice

2. Encontrar los dias con la menor y mayor tasa de cambio

3. (Opcional) Escribir el código anterior en una función

#### Ejercicio alojamientos

1. Leer el fichero "alojamientos.json" como un DataFrame de pandas

2. Contar cuantos alojamientos hay en cada código postal

#### Ejercicio numpy

Repetir el ejercicio de las notas numpy pero usando `pd.cut()`

#### Ejercicio 1

Tenemos las siguientes listas de marcas, modelos y precios en euros de 
arneses de escalada:

In [5]:
marcas  = ['HP', 'HP', 'ASUS', 'Lenovo', 'ASUS', 'ASUS', 'HP',
          'Acer', 'Lenovo', 'HP']
modelos = ['Envy', 'Pavilion', 'Transformer', 'Ideapad', 'Zenbook', 'Vivobook', '255',
           'Aspire', 'Ideapad 530S', 'Stream']
precios = [1099.00, 927.48, 199.00, 365.17, 899.00, 599.00, 260.31, 285.09, 
           699.00, 164.37]

In [75]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'marca': marcas,
                   'modelo': modelos,
                   'precio': precios})

In [76]:
df['ventas'] = np.random.randint(0, 50, size=df.shape[0])

1. Construir un DataFrame con los datos anteriores.
2. Localizar los modelos que tienen un precio menor de 500 euros.
3. Crea un array de 10 números aleatorios entre 0 y 50 y añádela al DataFrame en la columna 'Ventas' (`np.random.randint`)
4. Crear una nueva columna que contenga el precio original para todos los productos salvo los de la marca HP, a los que se aplicará un descuento del 10%.
5. Añade en la columna 'Total' el producto del precio de cada portátil por el número de unidades vendidas ('Ventas')
6. Calcular las ventas y ganancias totales
7. (Avanzado) Calcular las ventas y ganancias totales y número de productos para cada marca

#### Ejercicio 2

1. Carga en un DataFrame este dataset:
https://archive.ics.uci.edu/ml/datasets/Automobile
2. Comprueba si tiene datos que faltan y elimina dichas filas
3. Obtén la longitud (`length`) y anchuras (`width`) medias
4. Analiza el atributo peso (`curb-weight`) y dibuja su histograma
5. Analiza cuál es el número de cilindros (`num-of-cylinders`) más frecuente
6. Obtén una lista ordenada de las diferentes marcas (`make`) de coches y cuantos coches hay de cada una. Haz un gráfico de barras con esa información
7. Haz un gráfico de dispersión (*scatter plot*) de las columnas `length` y `width`
8. Dibuja un boxplot de todas las columnas numéricas. Ahora repítelo sin la columna precio. 


9. Repite el apartado 3 por cada categoría de `body-style`
10. Calcula la media del precio (`price`) para los coches agrupados por número de puertas (`num-of-doors`) y tipo de tracción (`engine-location`)
11. Selecciona los coches de la marca Toyota y cuyo precio sea mayor que la media
12. (Avanzado) En lugar de eliminar los datos que faltan complétalos. Si la columna es numérica, complétalos con la media, sino con el valor más frecuente

[Tipos de gráficos en pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#other-plots)

#### Ejercicio 3

1. Carga en un DataFrame este dataset:
https://archive.ics.uci.edu/ml/datasets/Census+Income
2. Estudia si hay variables como el nivel educativo o el país que influyen en
que se tuviese un salario mayor o menor de 50K. Puedes simplemente
obtener la cuenta de las veces que sucede una u otra cosa de los
diferentes grupos para comenzar, y después utilizar técnicas gráficas, e
incluso un contraste de hipótesis.

#### Ejercicio 4

Con el conjunto de datos `weather`:
  * Crear una variable 'Month' con el mes de cada observación
  * Calcular el número de días que nieva cada mes en porcentaje
  * Hacer un gráfico de barras de la variable anterior

Con el conjunto de datos `nycity`:
  * Seleccionar las columnas 'Complaint Type' y 'Location Type'
  * Seleccionar las filas con quejas de ruido ("Noise")
  * Ver que localización ('Location Type') tiene más quejas de ruido
  * Ordenaro de menor a mayor
  * Hacer un gráfico de barras del número de quejas

In [9]:
import pandas as pd

weather = pd.read_csv("../data/weather_2012.csv")

weather["Date/Time"] = pd.to_datetime(weather["Date/Time"], format="%Y-%m-%d %H:%M:%S")
weather["is_snow"] = weather["Weather"].str.contains("Snow")
weather["Month"] = weather["Date/Time"].dt.month

In [40]:
d = weather.groupby(["Month", weather["Date/Time"].dt.day])["is_snow"].any().reset_index()

In [41]:
d

     Month  Date/Time  is_snow
0        1          1    False
1        1          2     True
2        1          3     True
3        1          4     True
4        1          5     True
..     ...        ...      ...
361     12         27     True
362     12         28     True
363     12         29     True
364     12         30     True
365     12         31     True

[366 rows x 3 columns]

In [34]:
d.groupby("Month")["is_snow"].sum() / d.groupby("Month")["is_snow"].size()

Month
1     0.709677
2     0.655172
3     0.322581
4     0.100000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.200000
12    0.709677
Name: is_snow, dtype: float64

#### Ejercicio 5

Con el conjunto de datos de las `bikes2016.csv`:
  * Repetir el análisis del notebook principal para los dias de la semana

Con el fichero `AccidentesBicicletas_2017.csv` (http://datos.madrid.es/portal/site/egob), que contiene información sobre los accidentes de tráfico con implicación de bicicletas en Madrid:
  * Leer el fichero en un `DataFrame` de Pandas
  * Ver cuántas variables hay y contar los valores que faltan en cada una de ellas
  * Ver cual es el distrito con más accidentes
  * Hacer un gráfico con el número de accidentes que hay de cada tipo
  * Hacer un gráfico de barras con el número de accidentes por mes

In [46]:
bikes = pd.read_csv("../data/bikes2016.csv")
bikes["Date"] = pd.to_datetime(bikes["Date"], format="%d/%m/%Y")

In [48]:
bikes.groupby(bikes["Date"].dt.weekday).sum()

,Berri1,Boyer,Brébeuf,CSC (Côte Sainte-Catherine),Maisonneuve_2,Maisonneuve_3,Notre-Dame,Parc,PierDup,Pont_Jacques_Cartier,Rachel / Hôtel de Ville,Rachel / Papineau,René-Lévesque,Saint-Antoine,Saint-Urbain,Totem_Laurier,University,Viger
Date,,,,,,,,,,,,,,,,,,
0,141936,101531,128525,73559.0,175041.0,55622,56720,96252,48389,68423,72533.0,117015,73992,18429,54777,106977,105336,16148
1,176377,120226,155720,86724.0,214261.0,65511,69526,116702,57018,81160,83247.0,128456,89111,22203,67276,125639,122587,18897
2,176379,120034,153030,87451.0,213170.0,64656,67647,115322,54268,80415,83640.0,128696,89734,22607,65359,127991,125941,18705
3,161043,113140,142719,78606.0,193979.0,58346,61837,107312,48541,70562,80597.0,123041,81741,21218,63316,120022,116031,17544
4,146989,110950,135534,68381.0,178259.0,55089,56841,96663,50975,68901,75173.0,121455,75176,18731,57744,116682,102553,16164
5,100654,93210,98958,36376.0,105443.0,35071,36200,48513,57433,63899,58954.0,103317,47716,8873,37698,86378,46787,7751
6,85217,78328,81724,34809.0,93189.0,30925,31706,46368,50722,60796,61491.0,88809,47908,7257,31988,75653,41185,6598

In [54]:
bikes.set_index("Date").resample("M").sum()

,Berri1,Boyer,Brébeuf,CSC (Côte Sainte-Catherine),Maisonneuve_2,Maisonneuve_3,Notre-Dame,Parc,PierDup,Pont_Jacques_Cartier,Rachel / Hôtel de Ville,Rachel / Papineau,René-Lévesque,Saint-Antoine,Saint-Urbain,Totem_Laurier,University,Viger
Date,,,,,,,,,,,,,,,,,,
2016-01-31,8503,244,473,1955.0,10244.0,3320,498,4021,157,382,0.0,9797,2990,1084,2555,5817,6012,1258
2016-02-29,8432,348,624,1618.0,11079.0,3465,673,4709,243,446,0.0,10204,10626,1296,2573,3803,5490,1246
2016-03-31,17294,2069,1164,6450.0,21983.0,7449,3343,11758,2727,6275,0.0,21402,4718,1839,8916,11238,12010,1807
2016-04-30,62759,42450,59473,18297.0,67934.0,23192,22121,40767,22980,32446,0.0,66178,27472,6955,29079,48890,41917,6105
2016-05-31,136001,112103,136906,30060.0,146900.0,48973,55859,80530,60146,68321,25484.0,143116,70334,16256,52932,98680,86415,13288
2016-06-30,145972,121958,144407,63753.0,163284.0,52130,59490,88281,50039,75331,84579.0,161465,72695,18441,56848,110439,96084,14966
2016-07-31,156673,123951,151517,61741.0,183623.0,54845,65587,85913,77936,94673,104230.0,160446,81455,19823,52653,112032,101593,16671
2016-08-31,146558,119706,143398,77663.0,182923.0,55311,63311,86969,67088,83043,100839.0,146520,77760,17687,51068,112876,98018,16807
2016-09-30,145296,113692,136479,101796.0,202139.0,59408,58368,103029,54288,70662,104830.0,49664,81121,17765,55635,115794,103372,14168
2016-10-31,96285,64263,84387,64486.0,128940.0,31532,31911,70110,22641,40590,68368.0,0,44639,10596,39899,78427,66186,9141
2016-11-30,52637,30053,36713,32725.0,54293.0,21197,16694,43742,8586,20186,27305.0,26174,26183,6031,22592,49386,38196,5204
2016-12-31,12185,6582,669,5362.0,0.0,4398,2622,7303,515,1801,0.0,15823,5385,1545,3408,11960,5127,1146

In [59]:
b = pd.read_csv("../data/AccidentesBicicletas_2017.csv", sep=";", encoding="latin1", skiprows=1)

In [67]:
b["DISTRITO"].value_counts()

CENTRO                            50
RETIRO                            27
MONCLOA-ARAVACA                   23
ARGANZUELA                        22
CHAMBERI                          19
FUENCARRAL-EL PARDO               17
SALAMANCA                         16
SAN BLAS                          15
TETUAN                            14
CARABANCHEL                       13
HORTALEZA                         13
CHAMARTIN                         11
CIUDAD LINEAL                     10
PUENTE DE VALLECAS                10
BARAJAS                            4
LATINA                             4
VILLA DE VALLECAS                  4
VILLAVERDE                         4
USERA                              3
VICALVARO                          2
MORATALAZ                          1
Name: DISTRITO, dtype: int64

In [87]:
df = pd.read_csv("../data/311_Service_Requests_from_2010_to_Present.csv", nrows=100000)

/tmp/ipykernel_153/1816788785.py:1: DtypeWarning: Columns (17,32,33,34,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/311_Service_Requests_from_2010_to_Present.csv", nrows=100000)

In [91]:
df.memory_usage().sum() * 1e-9

0.032800128000000005

In [83]:
df[df["Complaint Type"] == "Noise"]

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
1800,19324209,12/11/2010 05:46:00 AM,02/19/2011 10:45:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Construction Before/After Hours (NM1),NaN,10003.0,237 E 20 ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.736457,-73.983286,"(40.736456539698516, -73.98328577416129)"
1818,19324221,12/11/2010 07:36:00 AM,12/18/2010 10:15:00 AM,DEP,Department of Environmental Protection,Noise,Noise: Construction Equipment (NC1),NaN,10022.0,EAST 59 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.761073,-73.965451,"(40.76107296294944, -73.9654509971234)"
1827,19324444,12/11/2010 04:20:00 PM,01/04/2011 09:30:00 PM,DEP,Department of Environmental Protection,Noise,"Noise: Air Condition/Ventilation Equip, Commer...",NaN,10003.0,21 E 7 ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.728492,-73.989302,"(40.72849197828282, -73.98930229784261)"
2144,19324375,12/11/2010 01:40:00 PM,01/03/2011 03:00:00 PM,DEP,Department of Environmental Protection,Noise,"Noise, Barking Dog (NR5)",NaN,11209.0,137 88 ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.623035,-74.035774,"(40.62303542789971, -74.03577437637094)"
2291,19324485,12/11/2010 08:05:00 PM,02/25/2011 09:30:00 PM,DEP,Department of Environmental Protection,Noise,"Noise, Barking Dog (NR5)",NaN,11209.0,209 97 ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.616154,-74.035133,"(40.616154431685295, -74.0351331484)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995642,24806033,01/17/2013 10:56:00 PM,01/24/2013 09:00:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Construction Before/After Hours (NM1),NaN,10012.0,WEST HOUSTON STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.727109,-74.000274,"(40.72710911775691, -74.00027420185187)"
995847,36144929,05/09/2017 03:16:00 PM,NaN,DEP,Department of Environmental Protection,Noise,Noise: Construction Before/After Hours (NM1),NaN,11222.0,572 MANHATTAN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.722624,-73.950109,"(40.72262435448241, -73.9501094415543)"
996309,24817680,01/19/2013 09:24:00 PM,01/26/2013 04:15:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Construction Before/After Hours (NM1),NaN,10016.0,46 PARK AVENUE SOUTH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.745451,-73.982529,"(40.74545097729316, -73.98252925491224)"
997052,24827531,01/22/2013 09:50:00 PM,01/29/2013 09:30:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Alarms (NR3),NaN,10025.0,WEST END AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.792382,-73.975305,"(40.79238196607788, -73.97530486035818)"
999858,24865535,01/25/2013 01:40:00 AM,02/04/2013 11:45:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Jack Hammering (NC2),NaN,10003.0,EAST 14 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.735609,-73.992668,"(40.735609390504145, -73.99266777311483)"

In [88]:
df.to_csv("../data/311_Service_Requests_100k.csv")

#### Ejercicio 6

Con el conjunto de datos `titanic.csv` (https://www.kaggle.com/c/titanic):
 * Leer los datos en un DataFrame de Pandas
 * Calcular el porcentaje de pasajeros que sobrevivió
 * Ver cuantos valores faltan en cada una de las variables (pista .isnull())
 * Eliminar la variable `cabin`
 * Completar los valores que faltan en `age` con la mediana del resto
 * Crear una nueva variable que contenga el número total de parientes incluyendo al pasajero
 * Crear una nueva variable booleana que sea `True` si el pasajero viajaba solo y `Falso` en caso contrario
 * Calcular la probabilidad de supervivencia en base al sexo
 * Extraer de la varible nombre una nueva que sea el título ('Mr', 'Ms', etc)