## Ejercicios pandas

#### Ejercicio EVO

Dado el siguiente código:

In [3]:
import requests
import time
from datetime import timedelta, date

url_evo  = "https://api.evobanco.com:8443/evobanco/foreign/exchange/v1/rates"

def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)
        
start_date = date(2020, 1, 1)
end_date = date(2020, 1, 2)

res = []
fecha = []
for date in daterange(start_date, end_date):

    date_str = date.strftime("%Y-%m-%d")
    print(date_str)

    payload = {"cardType": "MC",
               "amount": 1,
               "sourceCurrencyCode": 'USD',
               "fxDate": date_str}

    r_evo = requests.post(url_evo, json=payload)

    if r_evo.status_code == requests.codes.ok:
        d = r_evo.json()
        res.append(d['rate'])
        fecha.append(d['date'])
    
    
    time.sleep(5)

2020-01-01

1. Crear un objeto de tipo Serie que contenga la tasa de conversión como los valores y la fecha como índice

2. Encontrar los dias con la menor y mayor tasa de cambio

3. (Opcional) Escribir el código anterior en una función

In [4]:
s = pd.Series(res, index=fecha)
print(s.max())
print(s.idxmax())

NameError: name 'pd' is not defined

#### Ejercicio alojamientos

1. Leer el fichero "alojamientos.json" como un DataFrame de pandas

2. Contar cuantos alojamientos hay en cada código postal

In [ ]:
aloj = pd.read_json('../data/alojamientos.json', orient='records')

In [ ]:
aloj['cp'].value_counts()

#### Ejercicio numpy

Repetir el ejercicio de las notas numpy pero usando `pd.cut()`

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(1234)
notas = np.random.choice(range(0, 11), size=100)
pd.cut(notas, [0, 5, 7, 9, 11], right=False, labels=["Suspenso", "Aprobado", "Notable", "Sobresaliente"])

#### Ejercicio 1

Tenemos las siguientes listas de marcas, modelos y precios en euros de 
arneses de escalada:

In [ ]:
marcas  = ['HP', 'HP', 'ASUS', 'Lenovo', 'ASUS', 'ASUS', 'HP',
          'Acer', 'Lenovo', 'HP']
modelos = ['Envy', 'Pavilion', 'Transformer', 'Ideapad', 'Zenbook', 'Vivobook', '255',
           'Aspire', 'Ideapad 530S', 'Stream']
precios = [1099.00, 927.48, 199.00, 365.17, 899.00, 599.00, 260.31, 285.09, 
           699.00, 164.37]

1. Construir un DataFrame con los datos anteriores.
2. Localizar los modelos que tienen un precio menor de 500 euros.
3. Crear una nueva columna que contenga el precio original para todos los productos salvo los de la marca HP, a los que se aplicará un descuento del 10%.
4. Crea una lista de 10 números aleatorios entre 0 y 50 y añádela al DataFrame en la columna 'Ventas'
5. Añade en la columna 'Total' el producto del precio de cada portátil por el número de unidades vendidas ('Ventas')
6. Calcular las ventas y ganancias totales
7. (Avanzado) Calcular las ventas, ganancias totales y número de productos para cada marca

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'marca': marcas, 'modelo': modelos, 'precio': precios})
df

In [ ]:
df['ratio'] = np.where(df['marca'] == 'HP', 0.9, 1)
df

In [ ]:
np.random.seed(1234)
df['precio_desc'] = df['precio'] * df['ratio']
df['ventas'] = np.random.choice(range(1, 51), size=df['precio'].size)
df['ganancias'] = df['ventas'] * df['precio']
df

In [ ]:
df[ ['ganancias', 'ventas'] ].sum()

#### Ejercicio 2

1. Carga en un DataFrame este dataset:
https://archive.ics.uci.edu/ml/datasets/Automobile
2. Comprueba si tiene datos que faltan y elimina dichas filas
3. Obtén la longitud (`length`) y anchuras (`width`) medias por cada categoría de `body-style`
4. Analiza el atributo peso (`curb-weight`) y dibuja su histograma
5. Analiza cuál es el número de cilindros (`num-of-cylinders`) más frecuente
6. Obtén una lista ordenada de las diferentes marcas (`make`) de coches
7. Calcula la media del precio (`price`) para los coches agrupados por número de puertas (`num-of-doors`) y tipo de tracción (`engine-location`)
8. Selecciona los coches de la marca Toyota y cuyo precio sea mayor que la media
9. ¿Son más caros los coches de gas o de diesel (`fuel-type`)? Dibuja un boxplot
10. (Avanzado) En lugar de eliminar los datos que faltan complétalos. Si la columna es numérica, complétalos con la media, sino con el valor más frecuente

In [16]:
import pandas as pd

colnames = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 
            'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 
            'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 
            'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

autos = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/'
                    'autos/imports-85.data', header=None, na_values=['?'], 
                    names=colnames)

autos.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [17]:
autos.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [ ]:
autos.head()

In [ ]:
autos.isnull().mean() * 100

In [ ]:
autos.groupby('body-style')[['length', 'width']].mean()

In [ ]:
%matplotlib inline
autos['curb-weight'].dropna().plot(kind='hist');

In [ ]:
autos['num-of-doors'].value_counts().idxmax()

In [ ]:
np.sort(autos['make'].unique())

In [ ]:
autos.loc[ (autos['make'] == 'toyota') & (autos['price'] > autos['price'].mean()), :]

In [ ]:
autos[['price', 'fuel-type']].boxplot(by='fuel-type')

In [ ]:
def mean_or_mode(s):
    
    
tofill = autos.agg(mean_or_mode)
fillnae

In [ ]:
import numpy as np

def filler(s):
    fillna
    
    fillna
    


autos.apply(filler)

In [ ]:
tofill = pd.concat((autos.mean(), autos.select_dtypes(exclude='number').mode().loc[0]))

In [ ]:
tofill

In [ ]:
autos.fillna(tofill)

#### Ejercicio 3

1. Carga en un DataFrame este dataset:
https://archive.ics.uci.edu/ml/datasets/Census+Income
2. Estudia si hay variables como el nivel educativo o el país que influyen en
que se tuviese un salario mayor o menor de 50K. Puedes simplemente
obtener la cuenta de las veces que sucede una u otra cosa de los
diferentes grupos para comenzar, y después utilizar técnicas gráficas, e
incluso un contraste de hipótesis.

#### Ejercicio 4

Con el conjunto de datos `weather`:
  * Crear una variable 'Month' con el mes de cada observación
  * Calcular el número de días que nieva cada mes en porcentaje
  * Hacer un gráfico de barras de la variable anterior

Con el conjunto de datos `nycity`:
  * Seleccionar las columnas 'Complaint Type' y 'Location Type'
  * Seleccionar las filas con quejas de ruido ("Noise")
  * Ver que localización ('Location Type') tiene más quejas de ruido
  * Ordenaro de menor a mayor
  * Hacer un gráfico de barras del número de quejas

In [ ]:
import pandas as pd

weather = pd.read_csv('../data/weather_2012.csv', parse_dates=['Date/Time'])
weather.head()

In [ ]:
weather['Month'] = weather['Date/Time'].dt.month
weather['Day']   = weather['Date/Time'].dt.day
weather['Snow']  = weather['Weather'].str.contains('Snow')
weather.head()

In [ ]:
%matplotlib inline
(weather.groupby(['Month', 'Day'])['Snow']
        .any()
        .groupby('Month')
        .mean()
        .plot(kind='bar', color='green'));

In [ ]:
data = pd.read_csv('https://data.cityofnewyork.us/api/views/qaum-u4fw/'
                   'rows.csv?accessType=DOWNLOAD',
                   low_memory=False)

In [ ]:
is_noise = data['Complaint Type'].str.contains('Noise')

(data.loc[is_noise, ['Complaint Type', 'Location Type']]
     .groupby('Location Type')
     .size()
     .sort_values()
     .plot(kind='bar', color='green'));

#### Ejercicio 5

Con el conjunto de datos de las `bikes2016.csv`:
  * Repetir el análisis del notebook principal para los dias de la semana

Con el fichero `AccidentesBicicletas_2017.csv` (http://datos.madrid.es/portal/site/egob), que contiene información sobre los accidentes de tráfico con implicación de bicicletas en Madrid:
  * Leer el fichero en un `DataFrame` de Pandas
  * Ver cuántas variables hay y contar los valores que faltan en cada una de ellas
  * Ver cual es el distrito con más accidentes
  * Hacer un gráfico con el número de accidentes que hay de cada tipo
  * Hacer un gráfico de barras con el número de accidentes por mes

#### Ejercicio 6

Con el conjunto de datos `titanic.csv` (https://www.kaggle.com/c/titanic):
 * Leer los datos en un DataFrame de Pandas
 * Calcular el porcentaje de pasajeros que sobrevivió
 * Ver cuantos valores faltan en cada una de las variables (pista .isnull())
 * Eliminar la variable `cabin`
 * Completar los valores que faltan en `age` con la mediana del resto
 * Crear una nueva variable que contenga el número total de parientes incluyendo al pasajero
 * Crear una nueva variable booleana que sea `True` si el pasajero viajaba solo y `Falso` en caso contrario
 * Calcular la probabilidad de supervivencia en base al sexo
 * Extraer de la varible nombre una nueva que sea el título ('Mr', 'Ms', etc)

In [ ]:
import pandas as pd
df = pd.read_csv('../data/titanic.csv', sep=';', decimal=',')
df.head()
df.dtypes
df['survived'].mean() * 100
# df.shape[0] - df.count()
df.isnull().mean() * 100
df.drop('cabin', axis=1)                 # version 0.20
df.drop(columns=['cabin'], inplace=True) # version 0.21
df['age'].fillna(value=df['age'].median(), inplace=True)
df['total'] = df['sibsp'] + df['parch'] + 1
df['alone'] = df['total'] == 1
df.loc[df['sex'] == 'male', 'survived'].mean()
df.loc[df['sex'] == 'female', 'survived'].mean()
df['title'] = df['name'].str.extract(".*\ (.*)\..*", expand=False)
df1 = df.dropna(how='any')
print(df1.count())

df.groupby(["sex", "pclass"])['survived'].mean()